page-detalhes-local {
    .background-page {
        background-color: rgb(216, 212, 212);
        }
    .favorito{
        color: red;
    }

    #map {
		height: 230px;
		z-index: 9999;
	}

}

ion-app._gmaps_cdv_ .nav-decor{
	background-color: transparent !important;
}
