a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

page-indicacao {
    .background-page {
        background-color: rgb(255, 255, 255);
        }

        #map {
            height: 130px;
            z-index: 9999;
        }
}

ion-app._gmaps_cdv_ .nav-decor{
	background-color: transparent !important;
}
