<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Turismo PE</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-page">
  <ion-searchbar [showCancelButton]="true" placeholder="O que você procura?" [(ngModel)]="stringBusca" (ionCancel)="dismiss()"></ion-searchbar>
  <ion-searchbar [showCancelButton]="true" placeholder="Informe a cidade" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionCancel)="dismiss()"></ion-searchbar>

  <ion-list *ngIf="searchTerm.length>2 && cidadeSelecionada==false">
    <ion-item *ngFor="let cidade of cidades" (click)="atualizaCidade(cidade)">
      {{cidade.nome}}
    </ion-item>
  </ion-list>


  <button ion-button block icon-left class="btn" (click)="pesquisarLocal(stringBusca)">
    <ion-icon name="search"></ion-icon >Pesquisar</button>
  <br>
  <ion-row myMatchHeight="card">
    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(13)">
        <img src="assets/hotel.jpg" />
        <div class="card-title">
          <b>Hospedagem</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(15)">
        <img src="assets/locadora-veiculo.jpg" />
        <div class="card-title">
          <b>Locadora de Veículo</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(24)">
        <img src="assets/agencia-turismo.jpg" />
        <div class="card-title">
          <b>Agência de Turismo</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(14)">
        <img src="assets/hospital.jpg" />
        <div class="card-title">
          <b>Hospitais</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(21)">
        <img src="assets/restaurantes.jpg" />
        <div class="card-title">
          <b>Restaurantes</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(5)">
        <img src="assets/bares.jpg" />
        <div class="card-title">
          <b>Bares e Cachaçarias</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(4)">
        <img src="assets/praia.jpg" />
        <div class="card-title">
          <b>Praias</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(18)">
        <img src="assets/passeios-nauticos.jpg" />
        <div class="card-title">
          <b>Passeios Nauticos</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(3)">
        <img src="assets/feiras.jpg" />
        <div class="card-title">
          <b>Artesanato</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(16)">
        <img src="assets/mercados.jpg" />
        <div class="card-title">
          <b>Mercados e Feiras Livres</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(17)">
        <img src="assets/museu.jpg" />
        <div class="card-title">
          <b>Museus e Centros Culturais</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(8)">
        <img src="assets/teatro.jpg" />
        <div class="card-title">
          <b>Cinemas e Teatros</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(7)">
        <img src="assets/casa-noturna.jpeg" />
        <div class="card-title">
          <b>Casas Noturnas</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(19)">
        <img src="assets/praças.jpg" />
        <div class="card-title">
          <b>Praças e Parques</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(22)">
        <img src="assets/shopping.jpg" />
        <div class="card-title">
          <b>Shopping Center</b>
        </div>
      </ion-card>
    </ion-col>

    <ion-col align-self-stretch col-6 col-md-6 col-lg-3 col-xl-3>
      <ion-card (click)="abrirLista(12)">
        <img src="assets/eventos.jpg" />
        <div class="card-title">
          <b>Eventos e Agências de Turismo</b>
        </div>
      </ion-card>
    </ion-col>

  </ion-row>
  <ion-item-divider text-center>
    <b>Outras Categorias</b>
  </ion-item-divider>

  <ion-list>
    <button ion-item (click)="abrirLista(10)">
      Consulado
    </button>

    <button ion-item (click)="abrirLista(20)">
      Religião
    </button>

    <button ion-item (click)="abrirLista(11)">
      Clubes de Futebol
    </button>

    <button ion-item (click)="abrirLista(9)">
      Companhias Aéreas
    </button>

    <button ion-item (click)="abrirLista(23)">
      Trilhas Ecológicas
    </button>
  </ion-list>

</ion-content>